* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #5c5cc5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

header {
    background-color: #ffffff;
    padding-right: 5vw;
    padding-left: 5vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main__title {
    margin-top: 1vh;
    padding: 1vh;
    border: 0.2vh solid black;
    color: #595757;
    font-weight: bold;
    height: 5vh;
    font-size: 2.4vh;
}

.menu__list {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    width: 40vw;
    height: 10vh;
}

.menu__list > a {
    text-decoration: none;
    color: #595757;
    width: 60px;
    height: 4vh;
}

.menu__list > a:hover {
    color: #c55252;
}

footer {
    background-color: #ffffff;
    height: 15vh;
    display: flex;
    padding-right: 5vw;
    padding-left: 5vw;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.aside__section {
    display: flex;
    flex-direction: column;
    width: 30vw;
    background: #d57a1e;
    max-height: 80vh;
    overflow-y: auto;
}

.main__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 90%;
}

.main__content__top {
    display: flex;
    width: 60vw;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.main__content__image {
    max-width: 50%;
    height: 50%;
    object-fit: contain;
}

.main__content__top > p {
    width: 90%;
}

.main__content__bottom {
    display: flex;
    height: 10vh;
    width: 100%;
    background: teal;
    justify-content: center;
    align-items: center;
}

.aside__section__top {
    display: flex;
    flex-direction: column;
    background: yellow;
    min-height: 15vh;
    overflow-y: scroll;
}

@media screen and (max-width: 800px) {
    .main__title {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        height: 10vh;
        padding: 1vh;
    }

    .menu__list {
        font-size: 16px;
        width: 70%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .main__content__image {
        max-width: 70%;
        height: 70%;
    }

    header, footer {
        height: 18vh;
        padding-right: 2vw;
        padding-left: 2vw;
    }

    main{
        max-height: 70vh;
    }
}


@media screen and (max-height: 900px) {
    main{
        max-height: 70vh;
    }
}

